.historyContainer {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    padding-bottom: 379px;
    flex-direction: column;
    overflow: hidden;
  }
  
  .header {
    border-bottom: 3px solid rgba(181, 181, 181, 1);
    display: flex;
    width: 100%;
    gap: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 23px 57px;
  }
  
  .headerTitle {
    color: rgba(50, 51, 53, 1);
    margin: auto 0;
    font: 600 24px/1 Aspekta, sans-serif;
  }
  
  .settingsButton {
    border-radius: 8px;
    display: flex;
    min-height: 50px;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 12px;
    border: 2px solid rgba(95, 97, 100, 1);
  }
  
  .settingsIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 26px;
  }
  
  @media (max-width: 991px) {
    .historyContainer {
      padding-bottom: 100px;
    }
    
    .header {
      max-width: 100%;
      padding: 0 20px;
    }
  }